@import 'bourbon'; // http://bourbon.io/

@import '../partials/variables'; // colors, fonts etc...

@import '../partials/mixins'; // custom mixins

@import '../partials/layout'; // responsive grid and media queries

/* -------------------------------- 

Primary style

-------------------------------- */

*, *::after, *::before {
	@include box-sizing(border-box);
}

*::after, *::before {
	content: '';
}

html {
	font-size: 62.5%;
}

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font: {
		size: 100%;
		family: $primary-font; // variables inside partials > _variables.scss
	}
	color: $color-1;
	background-color: $color-3;

	&::after {
		/* dark overlay layer - visible when we fire .cd-quick-view */
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba($color-3, .8);
		visibility: hidden;
		opacity: 0;
		-webkit-transition: opacity .3s 0s, visibility 0s .3s;
		-moz-transition: opacity .3s 0s, visibility 0s .3s;
		transition: opacity .3s 0s, visibility 0s .3s;
	}

	@include MQ(L) {
		&.overlay-layer::after {
			visibility: visible;
			opacity: 1;
			-webkit-transition: opacity .3s 0s, visibility 0s 0s;
			-moz-transition: opacity .3s 0s, visibility 0s 0s;
			transition: opacity .3s 0s, visibility 0s 0s;
		}
	}
}

a {
	color: $color-2;
	text-decoration: none;
}

img {
	max-width: 100%;
}

input, textarea {
	font-family: $primary-font;
	@include font-size(16px);

	&::-ms-clear {
    	display: none;
	}
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */

.cd-container { /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
	width: 90%;
	max-width: $XL; // breakpoints inside partials > _layout.scss
	margin: 0 auto;
	@include clearfix;
}

/* -------------------------------- 

Main Components 

-------------------------------- */

.cd-header {
	position: relative;
	height: 150px;
	background-color: $color-1;

	h1 {
		color: $color-3;
		line-height: 150px;
		text-align: center;
		font-size: 2.4rem;
		font-weight: 300;
	}

	@include MQ(L) {
		height: 180px;

		h1 {
			line-height: 180px;
		}
	}
}

.cd-main-content {
	position: relative;
	min-height: 100vh;
	@include clearfix;

	&.is-fixed {
		.cd-tab-filter-wrapper {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
		}

		.cd-gallery {
			padding-top: 26px+$tab-filter-height;
		}

		.cd-filter {
			position: fixed;
			height: 100vh;
			overflow: hidden;

			form {
				height: 100vh;
				overflow: auto;
				-webkit-overflow-scrolling: touch;
			}
		}

		.cd-filter-trigger {
			position: fixed;
		}

		@include MQ(M) {
			.cd-gallery {
				padding-top: 40px+$tab-filter-height;
			}
		}

		@include MQ(L) {
			.cd-gallery {
				padding-top: 50px+$tab-filter-height;
			}
		}
	}
}

/* -------------------------------- 

xtab-filter 

-------------------------------- */

.cd-tab-filter-wrapper {
	background-color: $color-3;
	box-shadow: 0 1px 1px rgba(#000, .08);
	z-index: 1;
	@include clearfix;
}

.cd-tab-filter {
	/* tabbed navigation style on mobile - dropdown */
	position: relative;
	height: $tab-filter-height;
	width: 140px;
	margin: 0 auto;
	z-index: 1;

	&::after { 
		/* small arrow icon */
		content:'';
		position: absolute;
		right: 14px;
		@include center(y); // see partials > mixins

		display: inline-block;
		width: 16px;
		height: 16px;

		background: url('../img/cd-icon-arrow.svg') no-repeat center center;

		@include transition(all .3s);
		pointer-events: none;
	}

	ul {
		position: absolute;
		top: 0;
		left: 0;

		background-color: $color-3;
		box-shadow: inset 0 -2px 0 $color-2;
	}

	li {
		display: none; 

		&:first-child {
			/* this way the placehodler is alway visible */
			display: block; 
		}
	}

	a {
		display: block;
		/* set same size of the .cd-tab-filter */
		height: $tab-filter-height;
		width: 140px;
		line-height: $tab-filter-height;
		padding-left: 14px;

		&.selected {
			background: $color-2;
			color: $color-3;
		}
	}

	&.is-open {

		&::after {
			/* small arrow rotation */
			@include transform(translateY(-50%) rotate(-180deg));  
		}

		ul {
			box-shadow: inset 0 -2px 0 $color-2, 0 2px 10px rgba(#000, .2);
		}

		ul li {
			display: block;
		}

		.placeholder a {
			/* reduces the opacity of the placeholder on mobile when the menu is open */
			opacity: .4; 
		}
	}

	@include MQ(M) {
		/* tabbed navigation style on medium devices */
		width: auto;
		cursor: auto;

		&::after {
			/* hide the arrow */
			display: none;
		}

		ul {
			background: transparent;
			position: static;
			box-shadow: none;
			text-align: center;
		}

		li {
			display: inline-block;

			&.placeholder {
				display: none !important; 
			}
		}

		a {
			display: inline-block;
			padding: 0 1em;
			width: auto;

			color: $color-4;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 1.3rem;

			.no-touch &:hover {
				color: $color-2;
			}

			&.selected {
				background: transparent;
				color: $color-2;
				/* create border bottom using box-shadow property */
				box-shadow: inset 0 -2px 0 $color-2;
			}
		}

		&.is-open {
			ul li {
				display: inline-block;
			}
		}
	}

	@include MQ(L) {
		/* tabbed navigation on big devices */
		width: 100%;
		float: right;
		margin: 0;
		@include transition(width .3s);

		&.filter-is-visible {
			/* reduce width when filter is visible */
			width: 80%;
		}
	}
}

/* -------------------------------- 

xgallery 

-------------------------------- */

.cd-gallery {
	padding: 26px 5%;
	width: 100%;

	li {
		margin-bottom: 1.6em;
		box-shadow: 0 1px 4px rgba(#000, .1);
		display: none;

		&.gap {
			/* used in combination with text-align: justify to align gallery elements */
			opacity: 0;
			height: 0;
			display: inline-block;
		}
	}

	img {
		display: block;
		width: 100%;
	}

	.cd-fail-message {
		display: none;
		text-align: center;
	}

	@include MQ(M) {
		padding: 40px 3%;

		ul {
			@include clearfix;
			text-align: justify;
		}

		li {
			width: 48%;
			margin-bottom: 2em;
		}
	}

	@include MQ(L) {
		padding: 50px 2%;
		float: right;
		@include transition(width .3s);

		li { 
			width: 23%;
		}

		&.filter-is-visible {
			/* reduce width when filter is visible */
			width: 80%;
		}
	}
}

/* -------------------------------- 

xfilter 

-------------------------------- */

.cd-filter {
	position: absolute;
	top: 0;
	left: 0;
	width: 280px;
	height: 100%;
	background: $color-3;
	box-shadow: 4px 4px 20px rgba(#000, 0);
	z-index: 2;

	/* Force Hardware Acceleration in WebKit */
	@include transform(translateZ(0));
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

	@include transform(translateX(-100%));
	@include transition(transform .3s, box-shadow .3s);

	&::before {
		/* top colored bar */
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: $tab-filter-height;
		width: 100%;
		background-color: $color-2;
		z-index: 2;
	}

	form {
		padding: $tab-filter-height+20px 20px;
	} 

	.cd-close {
		position: absolute;
		top: 0;
		right: 0;
		height: $tab-filter-height;
		line-height: $tab-filter-height;
		width: 60px;

		color: $color-3;
		font-size: 1.3rem;
		text-align: center;

		background: darken($color-2, 5%);
		opacity: 0;

		@include transition(opacity .3s);
		z-index: 3;

		.no-touch &:hover {
			background: darken($color-2, 8%);
		}
	}

	&.filter-is-visible {
		@include transform(translateX(0));
		box-shadow: 4px 4px 20px rgba(#000, .2);

		.cd-close {
			opacity: 1;
		}
	}

	@include MQ(L) {
		width: 20%;

		form {
			padding: $tab-filter-height+20px 10%;
		}
	}
}

.cd-filter-trigger {
	position: absolute;
	top: 0;
	left: 0;
	height: $tab-filter-height;
	line-height: $tab-filter-height;
	width: 60px;

	/* image replacement */
	overflow: hidden;
	text-indent: 100%;
	color: transparent;
	white-space: nowrap;
	background: transparent url('../img/cd-icon-filter.svg') no-repeat center center;

	z-index: 3;

	&.filter-is-visible {
		pointer-events: none;
	}

	@include MQ(L) {
		width: auto;
		left: 2%;

		text-indent: 0;
		color: $color-4;
		text-transform: uppercase;
		font-size: 1.3rem;
		font-weight: 700;

		padding-left: 24px;
		background-position: left center;

		@include transition(color .3s);

		.no-touch &:hover {
			color: $color-2;
		}

		&.filter-is-visible,
		&.filter-is-visible:hover {
			color: $color-3;
		}
	}
}

/* -------------------------------- 

xcustom form elements 

-------------------------------- */

.cd-filter-block {
	margin-bottom: 1.6em;

	h4 {
		/* filter block title */
		position: relative;
		margin-bottom: .2em;
		padding: 10px 0 10px 20px;

		color: $color-4;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 1.3rem;

		@include user-select(none);
		cursor: pointer;

		.no-touch &:hover {
			color: $color-2;
		}

		&::before {
			/* arrow */
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			width: 16px;
			height: 16px;
			background: url('../img/cd-icon-arrow.svg') no-repeat center center;

			@include transform(translateY(-50%));
			@include transition(transform .3s);
		}

		&.closed::before {
			@include transform(translateY(-50%) rotate(-90deg));
		}
	}

	input, select,
	.radio-label::before,
	.checkbox-label::before {
		/* shared style for input elements */
		font-family: $primary-font;
		border-radius: 0;
		background-color: $color-3;
		border: 2px solid darken($color-3, 10%);
	}

	input[type='search'],
	input[type='text'],
	select {
		width: 100%;
		padding: .8em;
		@include appearance(none);
		box-shadow: none;

		&:focus {
			outline: none;
			background-color: $color-3;
			border-color: $color-2;
		}
	}

	input[type='search'] {
		/* custom style for the search element */
		border-color: transparent;
		background-color: darken($color-3, 10%);
		/* prevent jump - ios devices */
		font-size: 1.6rem !important;
	}

	input[type='search']::-webkit-search-cancel-button {
		display: none;
	}

	.cd-select {
		/* select element wrapper */
		position: relative;
	}

	.cd-select::after {
		/* switcher arrow for select element */
		content: '';
		position: absolute;
		z-index: 1;
		right: 14px;
		top: 50%;
		@include transform(translateY(-50%));

		display: block;
		width: 16px;
		height: 16px;

		background: url('../img/cd-icon-arrow.svg') no-repeat center center;
		pointer-events: none;
	}

	select {
		cursor: pointer;
		font-size: 1.4rem;
	}

	select::-ms-expand {
      display: none;
	}

	.list li {
		position: relative;
		margin-bottom: .8em;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	input[type=radio],
	input[type=checkbox] {
		/* hide original check and radio buttons */
		position: absolute;
		left: 0;
		top: 0;
		margin: 0;
		padding: 0;
		opacity: 0;
		z-index: 2;
	}

	.checkbox-label,
	.radio-label {
		padding-left: 24px;
		font-size: 1.4rem;
		@include user-select(none);

		&::before,
		&::after {
			/* custom radio and check boxes */
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			@include transform(translateY(-50%));
		}

		&::before {
			width: 16px;
			height: 16px;
			left: 0;
		}

		&::after {
			/* check mark - hidden */
			display: none;
		}
	}

	.checkbox-label::after {
		/* check mark style for check boxes */
		width: 16px;
		height: 16px;
		background: url('../img/cd-icon-check.svg') no-repeat center center;
	}

	.radio-label::before,
	.radio-label::after {
		border-radius: 50%;
	}

	.radio-label::after {
		/* check mark style for radio buttons */
		width: 6px;
		height: 6px;
		background-color: $color-3;
		left: 5px;
	}

	input[type=radio]:checked + label::before,
	input[type=checkbox]:checked + label::before {
		border-color: $color-2;
		background-color: $color-2;
	}

	input[type=radio]:checked + label::after,
	input[type=checkbox]:checked + label::after {
		display: block;
	}
}

@-moz-document url-prefix(){
	/* hide custom arrow on Firefox - select element */
	.cd-filter-block .cd-select::after {
		display: none;
	}
}


/* -------------------------------- 

product-quick-view components 

-------------------------------- */

html, body {
	height: 100%;
}

header {
	position: relative;
	height: 160px;
	line-height: 170px;
	text-align: center;
	@include font-smoothing;

	h1 {
		color: $color-4;
		@include font-size(20px);
	}

	@include MQ(M) {
		line-height: 180px;

		h1 {
			@include font-size(26px);
		}
	}

	@include MQ(L) {
		line-height: 220px;
	}
}

.cd-items {
	padding: 1em 0;

	@include MQ(M) {
		padding: 2em 0 0;
	}

	@include MQ(L) {
		padding: 4em 0 0;
	}
}

.cd-item {
	position: relative;
	margin: 0 0 1em;

	> img {
		display: block;
		width: 100%;
	}

	@include MQ(M) {
		@include column(.48);
		margin: 0 4% 2em 0;

		&:nth-child(2n) {
			margin-right: 0;
		}
	}

	@include MQ(L) {
		@include column(.22);
		margin: 0 4% 2.8em 0;

		&:nth-child(2n) {
			margin-right: 4%;
		}

		&:nth-child(4n) {
			margin-right: 0;
		}

		&.empty-box::after {
			/* box visible as placeholder when the .cd-quick-view zooms in */
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: darken($color-3, 5%);
		}
	}
}

.cd-trigger {
	position: absolute;
	height: 50px;
	line-height: 50px;
	width: 100%;
	bottom: 0;
	left: 0;
	background: rgba(#000, .1);
	text-align: center;
	@include font-smoothing;
	color: $color-4;
	opacity: 0;
	visibility: hidden;
	@include transition(opacity .2s, background-color .2s);

	.no-touch &:hover {
		background: rgba(#000, .2);
	}

	@include MQ(L) {
		/* always visible on small devices */
		visibility: visible;
		opacity: 1;
	}

	@include MQ(XL) {
		/* only visible on hover on big devices */
		opacity: 0;
	}
}

@include MQ(XL) {
	.no-touch .cd-item:hover .cd-trigger {
		opacity: 1;
	}

	.touch .cd-item .cd-trigger {
		opacity: 1;
	}
}

.cd-quick-view {
	/* quick view non available on small devices */
	display: none;

	@include MQ(L) {
		display: block;
		position: fixed;
		max-width: 900px;
		visibility: hidden;

		/* Force Hardware Acceleration in WebKit */
		@include transform(translateZ(0));
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		will-change: left, top, width;

		@include clearfix;
		z-index: 1;

		&.is-visible {
			/* class added when user clicks on .cd-trigger */
			visibility: visible;
		}

		&.animate-width {
			/* class added at the end of the first zoom-in animation */
			background-color: $color-4;
			box-shadow: 0 0 30px rgba(#000, .2);
			@include transition(box-shadow .3s);
		}
	}
}

.cd-slider-wrapper {
	position: relative;
	display: inline-block;
	float: left;
	@include clearfix;
}

.cd-slider {
	float: left;

	li {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;

		img {
			display: block;
			width: 100%;
			max-width: 400px;
		}

		&.selected {
			position: relative;
			z-index: 3;
		}
	}

	.add-content & {
		margin-right: 3em;
	}
}

.cd-slider-navigation {
	opacity: 0;

	.add-content & {
		opacity: 1;
	}
}

.cd-slider-navigation li {
	position: absolute;
	@include center(y); // mixins inside partials > _mixins.scss
	z-index: 3;

	&:first-child {
		left: 0;
	}

	&:last-child {
		/* equal to the .cd-slider-wrapper margin-right */
		right: 3em;
	}

	a {
		display: block;
		width: 40px;
		height: 50px;
		overflow: hidden;
		text-indent: 100%;
		white-space: nowrap;
		opacity: 0;
		/* Force Hardware Acceleration in WebKit */
		@include transform(translateZ(0));
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		@include transition(opacity .2s, background .2s);

		&::before, &::after {
			/* create arrows in CSS */
			position: absolute;
			top: 18px;
			left: 14px;
			display: inline-block;
			background: $color-4;
			height: 3px;
			width: 12px;
		}

		&::before {
			@include transform(rotate(45deg));
		}

		&::after {
			@include transform(translateY(7px) rotate(-45deg));
		}

		.add-content & {
			opacity: .2;
		}

		.no-touch &:hover {
			background: rgba($color-3, .8);
			opacity: 1;
		}

		.touch & {
			opacity: 1;
		}
	}

	&:first-child a::before {
		@include transform(rotate(-45deg));
	}

	&:first-child a::after {
		@include transform(translateY(7px) rotate(45deg));
	}
}

.cd-item-info {
	position: absolute;
	padding: 3em 3em 3em 0;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity .3s, visibility 0s;
	-moz-transition: opacity .3s, visibility 0s;
	transition: opacity .3s, visibility 0s;

	h2 {
		@include font-size(28px);
	}

	p {
		line-height: 1.6;
		margin: 1em 0;
		color: lighten($color-1, 20%);
	}

	.cd-item-action li {
		display: inline-block;
		margin-right: 1em;

		&:first-child {
			margin-left: -4px;
		}
	}

	.add-to-cart {
		@include appearance(none);
		@include border-radius;
		border: none;
		padding: .6em 1.2em;
		background-color: $color-2;
		color: $color-4;
		@include font-smoothing;
		font-family: $primary-font;
		@include font-size(16px);
		cursor: pointer;
	}

	.add-content & {
		/* class added at the end of the width animation, used to show the content */
		position: relative;
		visibility: visible;
		opacity: 1;

		h2 {
			@include animation(cd-slide-in .3s);
		}

		p {
			@include animation(cd-slide-in .4s);
		}

		.cd-item-action {
			@include animation(cd-slide-in .5s);
		}
	}
}

@include keyframes(cd-slide-in) {
	0% {
		@include transform(translate3d(-40px, 0, 0));
	}

	100% {
		@include transform(translate3d(0, 0, 0));
	}
}

.cd-quick-view-close {
	position: absolute;
	top: 10px;
	right: 10px;
	display: inline-block;
	width: 30px;
	height: 30px;

	/* image replacement */
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	visibility: hidden;
	@include transform(scale(0));
	-webkit-transition: -webkit-transform .3s 0s, visibility 0s .3s;
	-moz-transition: -moz-transform .3s 0s, visibility 0s .3s;
	transition: transform .3s 0s, visibility 0s .3s;

	&::before, &::after {
		/* close icon in css */
		position: absolute;
		top: 12px;
		left: 5px;
		display: inline-block;
		height: 4px;
		width: 20px;
		background: $color-3;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}

	&::before {
		@include transform(rotate(45deg));
	}

	&::after {
		@include transform(rotate(135deg));
	}

	.no-touch &:hover {
		@include transform(scale(1.2));
	}

	.add-content & {
		visibility: visible;
		@include transform(scale(1));
		-webkit-transition: -webkit-transform .3s 0s, visibility 0s 0s;
		-moz-transition: -moz-transform .3s 0s, visibility 0s 0s;
		transition: transform .3s 0s, visibility 0s 0s;
	}
}


/* -------------------------------- 

login-signup-modal-window components 

-------------------------------- */

header[role=banner] {
	position: relative;
	height: $header-height-S;
	background: $color-1;

	#cd-logo {
		float: left;
		margin: 4px 0 0 5%;

		/* reduce logo size on mobile and make sure it is left aligned with the transform-origin property */
		@include transform-origin(0 50%);
		@include transform(scale(.8));

		img {
			display: block;
		}
	}

	&::after { /* clearfix */
		content: '';
		display: table;
		clear: both;
	}

	@include MQ(M) {
		height: $header-height-M;

		#cd-logo {
			margin: 20px 0 0 5%;
			@include transform(scale(1));
		}
	}
}

.main-nav {
	float: right;
	margin-right: 5%;
	width: 44px;
	height: 100%;
	background: url('../img/cd-icon-menu.svg') no-repeat center center;
	cursor: pointer;

	ul {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;

		@include transform(translateY(-100%));

		&.is-visible {
			@include transform(translateY($header-height-S));
		}
	}

	a {
		display: block;
		height: $header-height-S;
		line-height: $header-height-S;
		padding-left: 5%;
		background: darken($color-1, 5%);
		border-top: 1px solid lighten($color-1, 3%);
		color: #FFF;
	}

	@include MQ(M) {
		width: auto;
		height: auto;
		background: none;
		cursor: auto;

		ul {
			position: static;
			width: auto;
			@include transform(translateY(0));
			line-height: $header-height-M;

			&.is-visible {
				@include transform(translateY(0));
			}
		}

		li {
			display: inline-block;
			margin-left: 1em;

			&:nth-last-child(2) {
				margin-left: 2em;
			}
		}

		a {
			display: inline-block;
			height: auto;
			line-height: normal;
			background: transparent;

			&.cd-signin, &.cd-signup {
				padding: .6em 1em;
				border: 1px solid rgba(#FFF, .6);
				border-radius: 50em;
			}

			&.cd-signup {
				background: $color-2;
				border: none;
			}
		}
	}
}

/* -------------------------------- 

xsigin/signup popup 

-------------------------------- */


.cd-user-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba($color-1, .9);
	z-index: $modal-zindex;
	overflow-y: auto;
	cursor: pointer;

	visibility: hidden;
	opacity: 0;
	@include transition(opacity .3s, visibility .3s);

	&.is-visible {
		visibility: visible;
		opacity: 1;

		.cd-user-modal-container {
			@include transform(translateY(0));
		}
	}
}

.cd-user-modal-container {
	position: relative;
	width: 90%;
	max-width: 600px;
	background: #FFF;
	margin: 3em auto 4em;
	cursor: auto;
	@include border-radius;
	@include transform(translateY(-30px));

	@include transition-property (transform);
	@include transition-duration(.3s);

	.cd-switcher {
		@include clearfix;

		li {
			@include column(.5);
			text-align: center;

			&:first-child a {
				border-radius: .25em 0 0 0;
			}

			&:last-child a {
				border-radius: 0 .25em 0 0;
			}
		}

		a {
			display: block;
			width: 100%;
			height: 50px;
			line-height: 50px;
			background: $color-3;
			color: darken($color-3, 30%);

			&.selected {
				background: #FFF;
				color: $main-text;
			}
		}
	}

	@include MQ(S) {
		margin: 4em auto;

		.cd-switcher a {
			height: 70px;
			line-height: 70px;
		}
	}
}

.cd-form {
	padding: 1.4em;

	.fieldset {
		position: relative;
		margin: 1.4em 0;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	label {
		@include font-size(14px);

		&.image-replace {
			/* replace text with an icon */
			display: inline-block;
			position: absolute;
			left: 15px;
			@include center(y);
			height: 20px;
			width: 20px;

			overflow: hidden;
			text-indent: 100%;
			white-space: nowrap;
			color: transparent;
			text-shadow: none;

			background-repeat: no-repeat;
			background-position: 50% 0;
		}

		&.cd-username {
			background-image: url('../img/cd-icon-username.svg');
		}

		&.cd-email {
			background-image: url('../img/cd-icon-email.svg');
		}

		&.cd-password {
			background-image: url('../img/cd-icon-password.svg');
		}
	}

	input {
		margin: 0;
		padding: 0;
		@include border-radius;

		&.full-width {
			width: 100%;
		}

		&.has-padding {
			padding: 12px 20px 12px 50px;
		}

		&.has-border {
			border: 1px solid $color-3;
			@include appearance(none);

			&:focus {
				border-color: $color-1;
				box-shadow: 0 0 5px rgba($color-1, .1);
				outline: none;
			}
		}

		&.has-error {
			border: 1px solid $red;
		}

		&[type=password] { 
			/* space left for the HIDE button */
			padding-right: 65px; 
		}

		&[type=submit] {
			padding: 16px 0;
			cursor: pointer;
			background: $color-2;
			color: #FFF;
			font-weight: bold;
			border: none;
			@include appearance(none);

			.no-touch &:hover, .no-touch &:focus {
				background: lighten($color-2, 5%);
				outline: none;
			}
		}
	}

	.hide-password {
		display: inline-block;
		position: absolute;
		right: 0;
		top: 0;
		padding: 6px 15px;
		border-left: 1px solid $color-3;
		@include center(y); // see partials > _mixins.scss
		@include font-size(14px);
		color: $color-1;
	}

	.cd-error-message {
		display: inline-block;
		position: absolute;
		left: -5px;
		bottom: -35px;
		background: rgba($red, .9);
		padding: .8em;
		z-index: 2;
		color: #FFF;
		@include font-size(13px);
		@include border-radius;

		/* prevent click and touch events */
		pointer-events: none;

		visibility: hidden;
		opacity: 0;

		@include transition(opacity .2s 0, visibility 0 .2s);

		&::after {
			/* triangle */
			content: '';
			position: absolute;
			left: 22px;
			bottom: 100%;
			@include triangle(16px, rgba($red, .9), up);
		}

		&.is-visible {
			opacity: 1;
			visibility: visible;

			@include transition(opacity .2s 0, visibility 0 0);
		}
	}

	@include MQ(S) {
		padding: 2em;

		.fieldset {
			margin: 2em 0;

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		input.has-padding {
			padding: 16px 20px 16px 50px;
		}

		input[type=submit] {
			padding: 16px 0;
		}
	}
}

.cd-form-message {
	padding: 1.4em 1.4em 0;
	@include font-size(14px);
	line-height: 1.4;
	text-align: center;

	@include MQ(S) {
		padding: 2em 2em 0;
	}
}

.cd-form-bottom-message {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: -30px;
	text-align: center;
	@include font-size(14px);

	a {
		color: #FFF;
		text-decoration: underline;
	}
}

.cd-close-form {
	/* form X button on top right */
	display: block;
	position: absolute;
	width: 40px;
	height: 40px;
	right: 0;
	top: -40px;
	background: url('../img/cd-icon-close.svg') no-repeat center center;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;

	@include MQ(L) {
		display: none;
	}
}

#cd-login, #cd-signup, #cd-reset-password {
	display: none;
}

#cd-login.is-selected, #cd-signup.is-selected, #cd-reset-password.is-selected {
	display: block;
}

