<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

    @*<link href="~/css/bootstrap.min.css" rel="stylesheet" />*@
    @*<link href="~/css/bootstrap-theme.min.css" rel="stylesheet" />*@
    @*<link href="~/css/angular-chart.min.css" rel="stylesheet" />*@

    <link rel="stylesheet" href="~/css/reset.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="~/css/style.css"> <!-- Resource style -->
    <script src="~/js/modernizr.js"></script> <!-- Modernizr -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.js"></script>
    <script src="~/js/modernizr.js"></script> <!-- Modernizr -->

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/ui-bootstrap-tpls-1.1.2.min.js"></script>
    <script src="~/Scripts/Chart.min.js"></script>
    <script src="~/Scripts/angular-chart.min.js"></script>

    <script src="~/SPA/Controller/ViewProductController.js"></script>
    <script src="~/SPA/Controller/GridController.js"></script>
    <script src="~/SPA/Controller/MainController.js"></script>
    <script src="~/SPA/Controller/CdFiltersController.js"></script>
    <script src="~/SPA/Controller/ChBFiltersController.js"></script>
    <script src="~/SPA/Controller/ProductController.js"></script>
    <script src="~/SPA/App.js"></script>

    <title>Content Filters, Product Quick View | CodyHouse</title>
</head>
<body ng-app="App">
    <header class="cd-header">
        <h1>Content Filters | Product Quick View</h1>
    </header>
    <main class="cd-main-content">

        <div class="cd-tab-filter-wrapper" ng-controller="CdFiltersController">
            <div class="cd-tab-filter">
                <ul class="cd-filters">
                    <li class="placeholder">
                        <a data-type={{selectedFilter.dataType}} href="#0">{{selectedFilter.filter}}</a> <!-- selected option on mobile -->
                    </li>
                    <li class="filter" ng-repeat="x in models.filters" ng-click="changeFilter(x)" data-filter={{x.dataFilter}}>
                        <a href="#0" data-type={{x.dataType}}>{{x.filter}}</a>
                        <!-- !!!!!!!!! Add class="selected" for first itom !!!!!!!!!!  -->
                    </li>
                </ul> <!-- cd-filters -->
            </div> <!-- cd-tab-filter -->
        </div> <!-- cd-tab-filter-wrapper -->

        <section class="cd-gallery" ng-controller="ProductController">
            @*<ul class="cd-items cd-container">*@
            <ul class="cd-items cd-container">
                <li ng-repeat="x in models.products" ng-cloak
                    class="cd-item mix color-1 {{x.ProductTypes.DataFilter}} radio2 option3">
                    <input type="hidden" value="{{x.Id}}"/>
                    <img src="~/img/img-{{x.Id}}.jpg" alt="Image 1" title="{{x.Name}}"/>
                    @*<img src="~/img/item-1.jpg" alt="Item Preview">*@
                    <a href="#0" class="cd-trigger">Quick View</a>
                    @*<p>{{x.Name}}</p>
                      <p>{{x.Description}}</p>*@
                </li>
                @*<li class="gap"></li>*@
                <li class="gap"></li>
                <li class="gap" ng-init="loopLoaded()"></li>
            </ul>
            <div class="cd-fail-message">No results found</div>
        </section> <!-- cd-gallery -->

        <div class="cd-quick-view">
            <div class="cd-slider-wrapper">
                <ul class="cd-slider">
                    <li class="selected"><img src="~/img/img-1.jpg" alt="Product 1"></li>
                    @*<li><img src="~/img/img-2.jpg" alt="Product 2"></li>
                    <li><img src="~/img/img-3.jpg" alt="Product 3"></li>*@
                </ul> <!-- cd-slider -->
                <ul class="cd-slider-navigation">
                    <li><a class="cd-next" href="#0">Prev</a></li>
                    <li><a class="cd-prev" href="#0">Next</a></li>
                </ul> <!-- cd-slider-navigation -->
            </div> <!-- cd-slider-wrapper -->
            <div class="cd-item-info">
                <h2 class="title">Produt Title</h2>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, omnis illo iste ratione. Numquam eveniet quo, ullam itaque expedita impedit. Eveniet, asperiores amet iste repellendus similique reiciendis, maxime laborum praesentium.</p>
                <ul class="cd-item-action">
                    <li><button class="add-to-cart">Add to cart</button></li>
                    <li><a href="#0">Learn more</a></li>
                </ul> <!-- cd-item-action -->
            </div> <!-- cd-item-info -->
            <a href="#0" class="cd-quick-view-close">Close</a>
        </div> <!-- cd-quick-view -->

        <div class="cd-filter">
            <form>
                <div class="cd-filter-block">
                    <h4>Search</h4>
                    <div class="cd-filter-content">
                        <input type="search" placeholder="Try color-1...">
                    </div> <!-- cd-filter-content -->
                </div> <!-- cd-filter-block -->

                <div class="cd-filter-block" ng-controller="ChBFiltersController">
                    <h4>Filter by product type</h4>
                    <ul class="cd-filter-content cd-filters list">
                        <li ng-repeat="x in models.filters" ng-click="changeFilter(x)">
                            <input class="filter" data-filter=.{{x.DataFilter}} type="checkbox" id="checkbox{{x.Id}}">
                            <label class="checkbox-label" for="checkbox{{x.Id}}">{{x.Name}}</label>
                        </li>
                    </ul> <!-- cd-filter-content -->
                </div> <!-- cd-filter-block -->
            </form>
            <a href="#0" class="cd-close">Close</a>
        </div> <!-- cd-filter -->

        <a href="#0" class="cd-filter-trigger">Filters</a>

    </main> <!-- cd-main-content -->

    <script src="~/js/jquery-2.1.1.js"></script>
    <script src="~/js/jquery.mixitup.min.js"></script>
    <script src="~/js/velocity.min.js"></script>
    <script src="~/js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>
